panda3d # vital, visualization
numpy # vital, matrix computation
scipy
tqdm
opencv-python # optional, required by vision
opencv-contrib-python # optional, required by vision
scikit-learn
grpcio
grpcio-tools
PyYAML # grpc formatting
Rtree # required by trimesh
open3d # required for cloud processing
shapely #
networkx # vital
pyserial # required by xarm controllers
pandas # required for neuro ik
matplotlib # 2D graph
Pillow
python-dateutil
lxml
pyglet
psutil
sympy
torch
torchviz
decorator
requests
joblib
ipython
torchvision
linformer
mujoco